.cards {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  margin-top: 30px;
}

.cards__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  padding: 0;
  margin: 0;
}

.cards__list-cards {
  display: flex;
  flex-direction: column;
  list-style: none;
  border-radius: 10px;
}

.cards__list-image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
}

.cards__list-description {
  display: flex;
  background-color: white;
  color: black;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
}

.cards__list-title {
  max-width: 220px;
  margin: 0;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.cards__like-button {
  background: transparent url(../images/like.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  cursor: pointer;
}

.card__like-button-active {
  background-image: url(../images/active.svg);
}

.cards__like-button:hover {
  opacity: 50%;
}

.cards__list-trash {
  background: transparent url(../images/Trash.svg) center no-repeat;
  position: absolute;
  width: 18px;
  height: 19px;
  border: none;
  margin: 18px 15px 249px 245px;
  cursor: pointer;
}

.cards__list-trash:hover {
  opacity: 0.6;
}
