.header {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  padding: 45px 0 41px 27px;
  box-sizing: border-box;
}

.header::after {
  max-width: 880px;
  content: "";
  position: absolute;
  background-color: #545454;
  opacity: 70%;
  border: 1px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
}

@media screen (min-width: 320px) and (max-width: 900px) {
  .header {
    padding-bottom: 32px;
  }

  .header__image {
    margin: 28px 0 0 27px;
    padding: 0;
    width: 126px;
    height: 24px;
  }
}
