.modal {
  position: fixed;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /*display: flex; */
  color: black;
  padding: 0 19px;
  display: none;
}

.modal_opened {
  display: flex;
}

.modal__container {
  position: relative;
  min-width: 430px;
  background-color: #fff;
  border-radius: 10px;
  padding: 36px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.modal__title {
  margin: 0;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 900;
  font-family: "Inter", Arial, sans-serif;
}

.modal__form {
  max-width: 358px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.modal__input {
  border: none;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  margin-bottom: 27px;
  max-width: 358px;
  min-height: 17px;
  width: 100%;
  position: relative;
}

.modal__close {
  background-image: url("../images/Close\ Icon.svg");
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: -45px;
  right: -45px;
  cursor: pointer;
}

.modal__close:hover {
  opacity: 60%;
}

.modal__button {
  max-width: 358px;
  width: 100%;
  background-color: #000;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  border-radius: 2px;
  margin-top: 14px;
  padding: 15px 0;
  color: #fff;
  cursor: pointer;
  border-style: none;
}

.modal__button:hover {
  opacity: 60%;
}

@media screen and (max-width: 480px) {
  .modal__container {
    max-width: 282px;
    padding: 25px;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    top: -40px;
    right: 0;
  }
}
