.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 0;
}

.profile__title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 373px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  grid-gap: 18px 17px;
}

.profile__edit-button {
  background: transparent url(../images/edit-icon.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  cursor: pointer;
  border: 1px solid;
  border-color: #fff;
}

.profile__edit-button:hover {
  opacity: 60%;
}

.profile__add-button {
  background: transparent url(../images/add-icon.svg) center no-repeat;
  height: 50px;
  width: 150px;
  margin-left: auto;
  cursor: pointer;
  border-radius: 2px;
  border: 2px solid;
  border-color: #fff;
}

.profile__add-button:hover {
  opacity: 60%;
}

.profile__description {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  grid-area: description;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 373px;
}

@media screen and (max-width: 1440px) {
  .profile__title {
    flex-direction: column;
  }

  .profile__info {
    display: flex;
  }
}

@media screen and (max-width: 880px) {
  .profile__title {
    margin-left: 10px;
  }
  .profile__description {
    margin-left: 10px;
  }

  .profile__edit-button {
    margin-left: 18px;
  }

  .profile__add-button {
    margin-left: 165px;
  }
}

@media screen and (max-width: 780px) {
  .profile {
    flex-direction: column;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0;
  }

  .profile__title {
    max-width: 196px;
    font-size: 22px;
    margin: 0;
    padding: 0;
    line-height: 27px;
    text-align: center;
  }

  .profile__description {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 14px 0 36px 0;
  }

  .profile__add-button {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 282px;
  }

  .profile__edit-button {
    margin-left: 10px;
    padding: 0;
  }

  .profile__image {
    margin-bottom: 27px;
    padding: 0;
  }
}

@media screen and (max-width: 540px) {
  .profile {
    padding-top: 35px;
  }

  .profile__info {
    max-width: 282px;
  }

  .profile__image {
    margin-bottom: 27px;
    padding: 0;
  }

  .profile__title {
    font-size: 22px;
    margin: 0;
    max-width: 196px;
    padding: 0;
    line-height: 27px;
    text-align: center;
    text-overflow: clip;
  }

  .profile__description {
    padding: 14px 0 36px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    word-wrap: break-word;
  }

  .profile__edit-button {
    height: 18px;
    max-width: 18px;
    grid-area: button;
    margin-left: 10px;
    padding: 0;
    display: flexbox;
  }

  .profile__edit-button:hover {
    opacity: 60%;
  }

  .profile__add-button {
    padding-bottom: 36px;
  }
}

@media screen and (max-width: 320px) {
  .profile {
    align-items: center;
    padding-top: 35px;
  }

  .profile__info {
    padding: 14px;
  }

  .profile__image {
    margin: 0;
    padding: 0;
  }

  .profile__title {
    font-size: 22px;
    margin: 0;
    padding-top: 27px;
    line-height: 1.2;
  }

  .profile__description {
    padding: 14px 0 36px 0;
    font-size: 14px;
    line-height: 17px;
  }

  .profile__edit-button {
    height: 18px;
    width: 18px;
    align-items: center;
    padding: 0;
  }

  .profile__edit-button:hover {
    color: #fff;
    opacity: 60%;
  }

  .profile__add-button {
    padding-bottom: 36px;
  }
}
