.modal {
  position: fixed;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  opacity: 0;
  color: black;
  visibility: hidden;
  transition: visibility 0s 0.6s, opacity 0.5s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.6s;
}

.modal__container {
  position: relative;
  min-width: 430px;
  background-color: #fff;
  border-radius: 10px;
  padding: 36px;
  margin: auto;
  flex-direction: column;
  box-sizing: border-box;
}

.modal__title {
  margin: 0 0 54px;
  max-width: 330px;
  max-height: 23px;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 900;
  font-family: "Inter", Arial, sans-serif;
}

.modal__delete-title {
  padding-bottom: 38px;
}

.modal__form {
  max-width: 358px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.modal__input {
  border: none;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  margin-bottom: 5px;
  width: 358px;
  height: 27px;
  position: relative;
  box-sizing: border-box;
}

.modal__input_type_error {
  border-color: #ff0000;
}

.modal__close {
  background-image: url("../images/Close\ Icon.svg");
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: -48px;
  right: -48px;
  cursor: pointer;
}

.modal__close:hover {
  opacity: 60%;
}

.modal__button {
  width: 100%;
  height: 50px;
  background-color: #000;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  border-style: none;
  margin-top: 18px;
}

.modal__button-avatar {
  margin-top: 0px;
}

.modal__button:hover {
  opacity: 80%;
}

.modal__preview-container {
  padding: 0;
  border: none;
  background-color: transparent;
}

.modal__preview {
  width: 433px;
  height: 540px;
}

.modal__preview-image {
  max-width: 433px;
  max-height: 540px;
}

.modal__title-preview {
  width: 291px;
  height: 12px;
  color: white;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
}

.modal__close-preview {
  background: transparent url(../images/close.svg) no-repeat center;
  position: absolute;
  width: 40px;
  height: 40px;
  top: -41px;
  right: -40px;
  border: none;
  cursor: pointer;
}

.modal__close-preview:hover {
  opacity: 0.6;
}

.modal__error {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #ff0000;
  left: 0;
  top: calc(100% + 6px);
  margin-bottom: 13px;
}
.modal__error_active {
  opacity: 1;
  color: 1;
}

.modal__button_disabled {
  background: #f6f6f6;
  border: 1px solid #000;
  color: #000;
  opacity: 0.2;
  cursor: default;
}

.modal__button_disabled:hover {
  opacity: 0.2;
}

.modal__button-confirm {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  color: #fff;
  background-color: #000;
  height: 50px;
  width: 358px;
  cursor: pointer;
  margin: 38px 36px 38px 36px;
}

.modal-yes-button {
  height: 50px;
  width: 100%;
  max-width: 358px;
  margin-top: auto;
  text-align: center;
  border: 2px solid black;
  background-color: black;
  color: #fff;
  cursor: pointer;
  padding: 0;
  transition: opacity 0.2s ease-in-out;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  border-radius: 5px;
  box-sizing: border-box;
}

.modal-delete-card-container {
  width: 430px;
  height: 181px;
  padding: 0px;
}

@media screen and (max-width: 775px) {
  .modal__container {
    min-width: 282px;
    padding: 25px 22px;
  }

  .modal__title {
    margin-bottom: 75px;
    font-size: 18px;
  }

  .modal__close {
    width: 16px;
    height: 16px;
    top: -40px;
    right: 0;
  }

  .modal__button {
    height: 46px;
    margin-top: 15px;
  }
  .modal__preview-image {
    max-width: 240px;
    max-height: 299px;
  }

  .modal__preview-container {
    padding: 0;
    padding-left: 20px;
  }

  .modal__close-preview {
    right: 10px;
    width: 30px;
    height: 30px;
  }
}
@media screen and (max-width: 480px) {
  .modal {
    padding-left: 19px;
    padding-right: 19px;
  }

  .modal__container {
    width: 282px;
  }

  .modal__heading {
    margin-left: 22px;
    margin-top: 25px;
    font-size: 18px;
    margin-bottom: 75px;
    line-height: 22px;
  }

  .modal__input {
    width: 238px;
    line-height: 17px;
  }

  .modal__button {
    width: 238px;
    height: 46px;
    font-size: 14px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 25px;
    line-height: 17px;
  }
}
